body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  /*  Пример подключения изображения из папки  img */
  /*background-image: url("../img/bg-promo.png");
  background-repeat: no-repeat;
  background-position: center top;*/
  margin: 0;
  padding: 0;
}


.main-header
{
  margin:0;
  padding-top:35px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom: 90px;
  background: #6451d5 url('../img/phone.png') no-repeat 510px 190px;

}


.im-ul-block
{
  margin-bottom: 0px;
  height: 82px;
}
.main-header .main-block
{
  padding-left: 30px;
  padding-right: 30px;
}
.main-header ul
{ 
  float:right;
  margin:0px;
  margin-top:25px;
  margin-right: 20px;
}
 
.im-ul-block{margin-bottom: 93px;}
.main-header ul li 
{
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
}
.main-header ul li a
{
  color:white;
  font-size:18px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Trebuchet MS';
}
.main-header ul li a:hover
{
  text-decoration: underline; 
  color:white;
}
.main-header ul li a:active
{
  text-decoration: none;
  color:#9d93e2;
}




.main-header .main-textblock
{
  width:450px;
}

.main-textblock .h
{
  margin-top: 0;
  color:white;
  font-family: 'Trebuchet MS';
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 35px;
}

.main-textblock .p-text
{
  width:320px;
  color:#9d93e2;
  font-family: 'Tahoma';
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
}

.main-textblock .aref
{
  display: block;
  background: #382d78;
  width: 320px;
  color:white;
  line-height: 24px;
  font-family: 'Trebuchet MS';
  font-size:20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 22px;
}

.main-textblock .aref:hover{background: #32286c;}
.main-textblock .aref:active
{
  background:#32286c;
  color:#5e5886;
}




/*------------блок 2-------------------------*/
.features
{
  margin:0;
  padding-top:50px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom: 50px;
  background: #efefef;
}
.features .f-blocks
{
  padding-right: 30px;
  padding-left: 30px;
}
.features .f-blocks .block
{
  display: inline-block;
  line-height: 24px;
  text-align: center;
  width: 320px;
  /*margin-left: 30px;*/
  
}



.features .f-blocks .block h2
{
  margin-top: 90px;
  margin-bottom: 25px;
  font-family: 'Trebuchet MS';
  font-size: 22px;
}
.features .f-blocks .block p
{
  color:#747474;
  font-family: 'Tahoma';
  font-size: 18px;
  margin-bottom: 0;
}
.b1{background: url('../img/iconadv1.png') no-repeat 130px 0 ;}
.b2
{
  background: url('../img/iconadv2.png') no-repeat 130px 0 ;
  margin-right: 25px;
  margin-left: 25px;
}
.b3{background: url('../img/iconadv3.png') no-repeat 130px 0 ;}

/*------------блок 3-------------------------*/

.education
{
  margin:0;
  padding-top:50px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom: 75px;
  background: #ffffff;

}

.ed-block
{
  padding-left: 30px;
  padding-right: 30px;
  margin:0;
}
.ed-block h2{
  font-family: 'Trebuchet MS';
  font-size: 45px;
  font-weight: bold;
  line-height: 50px;
  margin-top:0;
  margin-bottom: 60px;
}

.ed-block table
{
  border: 1px solid black;
  border-collapse: collapse;
  width: 1020px;
}
.ed-block table tr:nth-child(1)
{
  background: #efefef;
}

.ed-block table td
{
  padding-left: 31px;
  padding-right: 25px;
  padding-top: 21px;
  padding-bottom: 20px;
  text-align: left;
  border: 1px solid black;
  font-family: 'Tahoma';
  font-size: 18px;
  line-height: 30px;
  vertical-align:top;

}
.ed-block table td:nth-child(1)
{
  width:230px;
}


.ed-block table td:nth-child(2)
{
  
  width:136px;
}
/*
.ed-block table td:nth-child(3n)
{
  width:545px;
}*/
.ed-block table td b
{
  font-family:'Trebuchet MS';
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}


/*------------блок 4-------------------------*/
.contacts
{
  padding-top: 13px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom: 60px;
  background: #efefef;
}

.contacts .cont-block
{
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 0;
}

.contacts .cont-block h2
{
  margin-bottom: 60px;
  font-family: 'Trebuchet MS';
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
}
.contacts .login-form
{
  display:inline-block;
  width:600px;
  margin:0;
  padding-right: 10px;
}

.contacts .cont-text
{
  text-align: left;
 float: right;
  width:320px;
}

.contacts td
{
  padding:0;
  padding-bottom: 17px;
}
.contacts .dop/*tr td:nth-child(1)*/
{
  font-weight: bold;
  font-family: 'Trebuchet MS';
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  vertical-align: top;
  padding-top: 20px;
}


.login-form input[type="text"]
{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  width: 490px;
  font-family: 'Tahoma';
  font-size: 18px;
  line-height: 24px;
  border:2px #b2b2b2 solid;
  color:#404040;
  border-radius: 2px;
}
.login-form input[type="text"]:hover{ border:2px #7f7f7f solid;}
.login-form input[type="text"]:focus{ border:2px #6451d5 solid;}

.contacts  .human
{
  color:#4c4c4c;
  font-family: 'Tahoma';
  font-size: 18px;
  line-height: 24px;
  margin-left:20px;
  margin-right:65px;
}

.login-form textarea
{
  padding-top: 15px;
  padding-bottom: 30px;
  padding-left: 25px;
  width: 490px;
  font-family: 'Tahoma';
  font-size: 18px;
  line-height: 24px;
  border:2px #b2b2b2 solid;
  color:#404040;
  border-radius: 2px;
}

.login-form input[type="submit"]
{
  color:white;
  background: #382d78;
  width:520px;
  padding-top:25px;
  padding-bottom: 25px;
  font-weight: bold;
  font-family: 'Trebuchet MS';
  font-size: 20px;
  line-height: 24px;
  border:0px;
  text-transform: uppercase;
}
.login-form input[type="submit"]:hover
{
  color:white;
  background: #32286c;
}
.login-form input[type="submit"]:active
{
  color:#8581a1;
  background: #32286c;
}

.contacts .cont-text h3
{
  font-weight: bold;
  font-family: 'Trebuchet MS';
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 25px;
  margin-top: 0;
}

.contacts .cont-text p
{
  margin-bottom: 25px;
  font-family: 'Tahoma';
  font-size: 18px;
  line-height: 24px;
  color:#555555;
  
}

.contacts .cont-text .warning{margin-top:40px; margin-bottom: 0;}
.contacts .cont-text .warning b{color:black;}


/*------------блок 5-------------------------*/

.main-footer
{
  
  background: #2a2546;
  padding-top: 65px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom: 72px;
}

.footer-block
{
  padding-right: 30px;
  padding-left: 30px;
}

.main-footer .logo-p
{
  margin-right: 40px;
  margin-bottom: 30px;
  float: left;
  width:300px;

}

.main-footer .logo-p img{margin-bottom:55px;}

.main-footer .logo-p p
{
  color:white;
  font-family: 'Tahoma';
  font-size: 18px;
  line-height: 24px;

  margin-bottom: 0;
}
.main-footer .footer-block .f-list
{
  display: inline-block;
  margin-top:25px;
  text-align: left;
  margin-right: 0;
  width:162px;
  
}
.main-footer .footer-block ul{padding-left: 0;}
.main-footer .footer-block ul li
{
  list-style-type: none;
  margin-bottom: 25px;  
}

.main-footer .footer-block h3
{
  color:white;
  font-family: 'Tahoma';
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  margin-bottom: 35px;
  margin-top: 0;
}

.main-footer .footer-block ul li a
{
  text-decoration: none;
  color:#8b86a6;
  font-family: 'Tahoma';
  font-size: 18px;
  line-height: 24px;
}
.main-footer .footer-block ul li a:hover
{
  color:white;
  text-decoration: underline;
}
.main-footer .footer-block ul li a:active
{
  color:#4f4a6a;
  text-decoration: none;
}

