body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;

  /*  Пример подключения изображения из папки  img */
  /*background-image: url("../img/bg-promo.png");
  background-repeat: no-repeat;
  background-position: center top;*/
  margin: 0;
  padding: 0;
}


.main-header
{
  margin:0;
  padding-top:35px;
  padding-left:100px;
  padding-right:100px;
  padding-bottom: 120px;
  background: #6451d5 url('../img/phone.png') no-repeat 510px 190px;

}


.im-ul-block
{
  margin-bottom: 0px;
  height: 82px;
}
.main-header .main-block
{
  padding-left: 30px;
  padding-right: 30px;
}
.main-header ul
{ 
  float:right;
  margin:0px;
  margin-top:25px;
  margin-right: 20px;
}
 
.im-ul-block{margin-bottom: 93px;}
.main-header ul li 
{
  display: inline-block;
  margin-right: 30px;
  margin-left: 30px;
}
.main-header ul li a
{
  color:white;
  font-size:18px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Trebuchet MS';
}
.main-header ul li a:hover
{
  text-decoration: underline; 
  color:white;
}
.main-header ul li a:active
{
  text-decoration: none;
  color:#9d93e2;
}




.main-header .main-textblock
{
  width:450px;
}

.main-textblock .h
{
  margin-top: 0;
  color:white;
  font-family: 'Trebuchet MS';
  font-size: 45px;
  line-height: 50px;
  font-weight: bold;
  margin-bottom: 35px;
}

.main-textblock .p-text
{
  width:320px;
  color:#9d93e2;
  font-family: 'Tahoma';
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 50px;
}

.main-textblock .aref
{
  display: block;
  background: #382d78;
  width: 320px;
  color:white;
  line-height: 24px;
  font-family: 'Trebuchet MS';
  font-size:20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  padding-top: 23px;
  padding-bottom: 22px;
}

.main-textblock .aref:hover{background: #32286c;}
.main-textblock .aref:active
{
  background:#32286c;
  color:#5e5886;
}